<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Library</title>
    <!-- For font style -->
    <link href="fontawesome-free-5.12.0-web\fontawesome-free-5.12.0-web\css\all.css" rel="stylesheet"/>
    <!-- For custom style  -->
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"/>
</head>
<body>
    <!-- nav-btn-->
    <!--nav-bar-->
    <!--header-->
    <header class="header">
        <div class="banner">
            <span class="menu-btn">
            <i class="fa fa-bars"></i>
            </span>
            <h3 class="banner-subtitle">Reading can change your life.<br>Find your books here!</h3>
            <h1 class="banner-title">LIBRARY</h1>
            <a href="books.html" class="banner-btn">Explore</a>
        </div>
    </header>
    <!--end-hader-->
    <!--content-header-->
    <div class="content-divider"></div>
    <!--section-->
    <section class="section">
        <article class="art-head">
            <span class="icon">
                <i class="fas fa-tree"></i>   
            </span>
            <h3 class="skill">Nature</h3>
            <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam adipisci sunt totam earum voluptatum deserunt magnam,
                 inventore cum repellat enim possimus excepturi quisquam nam reprehenderit eos nostrum. Ad, minima aliquid.</p>
        </article>
        <article class="art-head">
            <span class="icon">
                <i class="fas fa-praying-hands"></i>   
            </span>
            <h3 class="skill">Spiritual</h3>
            <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam adipisci sunt totam earum voluptatum deserunt magnam,
                 inventore cum repellat enim possimus excepturi quisquam nam reprehenderit eos nostrum. Ad, minima aliquid.</p>
        </article>
        <article class="art-head">
            <span class="icon">
                <i class="fas fa-pencil-alt"></i>  
            </span>
            <h3 class="skill">Literature</h3>
            <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam adipisci sunt totam earum voluptatum deserunt magnam,
                 inventore cum repellat enim possimus excepturi quisquam nam reprehenderit eos nostrum. Ad, minima aliquid.</p>
        </article>
        <article class="art-head">
            <span class="icon">
                <i class="fas fa-dragon"></i> 
            </span>
            <h3 class="skill">adventure</h3>
            <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam adipisci sunt totam earum voluptatum deserunt magnam,
                 inventore cum repellat enim possimus excepturi quisquam nam reprehenderit eos nostrum. Ad, minima aliquid.</p>
        </article>
    </section>
    <!--about section-->
    <section class="about">
        <div class="section-center clearfix">
            <!--first column-->
            <article class="about-image">
                <img src="" alt="Book"/>
            </article>
        </div>
    </section>
    <!--end of about setion-->
</body>
</html>